body{
    background-color: rgb(22, 158, 221);
    text-align: center;
    
    
}
a{
    text-decoration: none;
    border-radius: 18px;
color: white;
}
a:hover{
    padding: 10px;
    color: rgb(32, 9, 243);
    background-color: rgb(9, 188, 219);

}h3,h2,h1{
    font-weight: bold;
    font-family: cursive;
}
img{
    max-width: 40%;
    max-height: 30%px;
}
p{
            font-weight: bold;
            font-family: 'Cambria', 'Cochin', Georgia, Times, 'Times New Roman', serif;
            color: rgb(199, 199, 25);
        }
